@import "preset";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #000000;
  font-size: 16px;
}
body {
  width: 100%;
  height: 100vh;
}
a {
  text-decoration: none;
  color: unset;
}
ul, ol, li {
  list-style: none;
}
html, body, a, p, h1, h2, h3, h4, h5, h6, span, input, textarea, button {
  font-family: 'HyundaiSansHeadKR', sans-serif;
}

#wrap {
  width: 100%;
  height: 100%;
  > main {
    width: 100%;
    padding-bottom: 9.375rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: #FFFFFF;
    @include viewport-xs {
      padding-bottom: 6.25rem;
    }
    > #intro {
      width: 100%;
      height: 100vh;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background: #000000;
      @include viewport-xs {
        height: auto;
        aspect-ratio: 1 / 1;
      }
      > video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      > .text {
        width: 100%;
        height: 100%;
        padding: 0 1.875rem;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        background: rgba(0, 0, 0, .2);
        color: #FFFFFF;
        @include viewport-xl {
          padding: 0 calc((100% - 100rem) / 2);
        }
        @include viewport-xs {
          padding: 0 1.25rem;
        }
        > h1 {
          font-size: $font-size-l;
          font-weight: bold;
          line-height: 110%;
        }
        > p {
          font-size: $font-size-s;
        }
      }
    }
  }
}
.slide-control {
  width: 100%;
  max-width: 100rem;
  padding: 0 1.875rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include viewport-xl {
    padding: 0;
  }
  @include viewport-xs {
    padding: 0 1.25rem;
  }
  > .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .125rem;
    > .bullet {
      width: 1.5rem;
      height: .25rem;
      border-radius: .125rem;
    }
  }
  > .move {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    > .btn {
      height: 2rem;
      aspect-ratio: 1 / 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border: $border-weight-s;
      border-radius: 50%;
      > svg {
        width: 50%;
        height: 50%;
      }
    }
  }
}
