@import "preset";
footer {
  width: 100%;
  background: #000000;
  @include viewport-xl {
    padding: 0 calc((100% - 90rem) / 2);
  }
  > .footer-inside {
    width: 100%;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.5rem;
    font-size: $font-size-s;
    color: #FFFFFF;
    @include viewport-s {
      padding: 2rem 1rem;
      gap: 1rem;
    }
    > .notice {
      width: 100%;
      padding: 1.5rem;
      border: $border-weight-s #FFFFFF;
      font-weight: 500;
      @include viewport-s {
        padding: 1rem;
      }
    }
    > .copyright {
      padding: 0 1.5rem;
      @include viewport-s {
        padding: 0 1rem;
      }
    }
  }
}

//@import "preset";
//footer {
//  width: 100%;
//  padding: 3.75rem 1.875rem;
//  display: flex;
//  flex-direction: column;
//  gap: 1.875rem;
//  background: #000000;
//  font-size: $font-size-xs;
//  color: #FFFFFF;
//  @include viewport-xl {
//    padding: 3.75rem calc((100% - 100rem) / 2);
//  }
//  @include viewport-xs {
//    padding: 2.5rem 1.25rem;
//    gap: 1.25rem;
//  }
//  > .notice {
//    width: 100%;
//    padding: 1.875rem;
//    border: $border-weight-s #FFFFFF;
//    color: #FFFFFF;
//    font-weight: 500;
//    @include viewport-xs {
//      padding: 1.25rem;
//    }
//  }
//}
