@font-face {
  font-family: "HyundaiSansHeadKR";
  font-style: normal;
  font-weight: normal;
  src: local("HyundaiSansHeadKR"), url("../assets/fonts/HyundaiSansHeadKRRegular.woff2") format("woff2");
}
@font-face {
  font-family: "HyundaiSansHeadKR";
  font-style: normal;
  font-weight: 500;
  src: local("HyundaiSansHeadKR"), url("../assets/fonts/HyundaiSansHeadKRMedium.woff2") format("woff2");
}
@font-face {
  font-family: "HyundaiSansHeadKR";
  font-style: normal;
  font-weight: bold;
  src: local("HyundaiSansHeadKR"), url("../assets/fonts/HyundaiSansHeadKRBold.woff2") format("woff2");
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 0.15s ease;
}
header > .inside {
  width: 100%;
  max-width: 90rem;
  height: 3.5rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
@media all and (max-width: 599px) {
  header > .inside {
    height: 3rem;
  }
}
header > .inside > #header-toggle {
  width: 2rem;
  aspect-ratio: 1/1;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 599px) {
  header > .inside > #header-toggle {
    width: 1.75rem;
  }
}
header > .inside > #header-toggle > span {
  width: 100%;
  height: 0.125rem;
  position: absolute;
  border-radius: 0.0625rem;
  background: #FFFFFF;
  transition: all 0.15s ease;
}
header > .inside > #header-toggle > span:first-of-type {
  top: 0.25rem;
}
header > .inside > #header-toggle > span:last-of-type {
  bottom: 0.25rem;
}
header > .inside > #header-toggle.on > span:first-of-type, header > .inside > #header-toggle.on > span:last-of-type {
  opacity: 0;
}
header > .inside > #header-toggle.on > span:nth-of-type(2) {
  transform: rotate(45deg);
}
header > .inside > #header-toggle.on > span:nth-of-type(3) {
  transform: rotate(-45deg);
}
header > .inside > #header-logo {
  height: 2rem;
  position: absolute;
}
@media all and (max-width: 599px) {
  header > .inside > #header-logo {
    height: 1.75rem;
  }
}
header > .inside > #header-logo > img {
  height: 100%;
}
header > #header-dropdown {
  width: 100%;
  max-height: 100dvh;
  padding-top: 7rem;
  padding-bottom: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
}
@media all and (min-width: 600px) and (max-width: 1023px) {
  header > #header-dropdown {
    height: 100dvh;
    max-height: unset;
    padding-top: 7rem;
    padding-bottom: unset;
  }
}
@media all and (max-width: 599px) {
  header > #header-dropdown {
    height: 100dvh;
    max-height: unset;
    padding-top: 6rem;
    padding-bottom: unset;
  }
}
header > #header-dropdown > nav {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 1.5rem;
  color: #FFFFFF;
}
@media all and (min-width: 600px) and (max-width: 1023px) {
  header > #header-dropdown > nav {
    padding: 0 1.5rem;
    flex-direction: column;
    justify-content: start;
    gap: 1.5rem;
  }
}
@media all and (max-width: 599px) {
  header > #header-dropdown > nav {
    padding: 0 1rem;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
  }
}
header > #header-dropdown > nav > .category {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.5rem;
}
@media all and (min-width: 1440px) {
  header > #header-dropdown > nav > .category:hover > .category-name {
    color: #E63312;
  }
}
@media all and (min-width: 1024px) and (max-width: 1439px) {
  header > #header-dropdown > nav > .category:hover > .category-name {
    color: #E63312;
  }
}
@media all and (min-width: 600px) and (max-width: 1023px) {
  header > #header-dropdown > nav > .category {
    width: 100%;
    padding: 0 1.5rem;
    gap: 1.5rem;
  }
}
@media all and (max-width: 599px) {
  header > #header-dropdown > nav > .category {
    width: 100%;
    padding: 0 1rem;
    gap: 1rem;
  }
}
header > #header-dropdown > nav > .category > .category-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(1.3125rem, 5.7vw, 1.6875rem);
  font-weight: 500;
  transition: all 0.15s ease;
}
header > #header-dropdown > nav > .category > .category-name > svg {
  width: 1rem;
  height: 1rem;
}
@media all and (min-width: 1440px) {
  header > #header-dropdown > nav > .category > .category-name > svg {
    display: none;
  }
}
@media all and (min-width: 1024px) and (max-width: 1439px) {
  header > #header-dropdown > nav > .category > .category-name > svg {
    display: none;
  }
}
header > #header-dropdown > nav > .category > .category-name > svg > path {
  fill: #FFFFFF;
}
header > #header-dropdown > nav > .category > .category-name.on {
  color: #E63312;
}
header > #header-dropdown > nav > .category > .category-name.on > svg {
  transform: rotateX(180deg);
}
header > #header-dropdown > nav > .category > .category-name.on > svg > path {
  fill: #E63312;
}
header > #header-dropdown > nav > .category > .category-name.on ~ .category-depth {
  max-height: 100dvh;
}
header > #header-dropdown > nav > .category > .category-depth {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.75rem;
  transition: all 0.15s ease;
}
@media all and (min-width: 600px) and (max-width: 1023px) {
  header > #header-dropdown > nav > .category > .category-depth {
    max-height: 0;
    gap: 0.5rem;
    overflow: hidden;
  }
}
@media all and (max-width: 599px) {
  header > #header-dropdown > nav > .category > .category-depth {
    max-height: 0;
    gap: 0.5rem;
    overflow: hidden;
  }
}
header > #header-dropdown > nav > .category > .category-depth > .category-depth-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.25rem;
}
@media all and (min-width: 1440px) {
  header > #header-dropdown > nav > .category > .category-depth > .category-depth-item {
    padding-right: 0.25rem;
  }
  header > #header-dropdown > nav > .category > .category-depth > .category-depth-item:hover > a {
    color: #E63312;
  }
  header > #header-dropdown > nav > .category > .category-depth > .category-depth-item:hover > span {
    width: 100%;
  }
}
@media all and (min-width: 1024px) and (max-width: 1439px) {
  header > #header-dropdown > nav > .category > .category-depth > .category-depth-item {
    padding-right: 0.25rem;
  }
  header > #header-dropdown > nav > .category > .category-depth > .category-depth-item:hover > a {
    color: #E63312;
  }
  header > #header-dropdown > nav > .category > .category-depth > .category-depth-item:hover > span {
    width: 100%;
  }
}
header > #header-dropdown > nav > .category > .category-depth > .category-depth-item > a {
  font-size: clamp(0.875rem, 3.8vw, 1.125rem);
  transition: all 0.15s ease;
}
header > #header-dropdown > nav > .category > .category-depth > .category-depth-item > span {
  width: 0;
  height: 0.125rem;
  background: #E63312;
  transition: all 0.15s ease;
}
@media all and (min-width: 600px) and (max-width: 1023px) {
  header > #header-dropdown > nav > .category > .category-depth > .category-depth-item > span {
    display: none;
  }
}
@media all and (max-width: 599px) {
  header > #header-dropdown > nav > .category > .category-depth > .category-depth-item > span {
    display: none;
  }
}
header.afterScroll {
  background: #000000;
}

/*# sourceMappingURL=header.css.map */
