@import "preset";
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all .15s ease;
  > .inside {
    width: 100%;
    max-width: 90rem;
    height: 3.5rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    @include viewport-s {
      height: 3rem;
    }
    > #header-toggle {
      width: 2rem;
      aspect-ratio: 1 / 1;
      margin-right: auto;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      @include viewport-s {
        width: 1.75rem;
      }
      > span {
        width: 100%;
        height: .125rem;
        position: absolute;
        border-radius: .0625rem;
        background: #FFFFFF;
        transition: all .15s ease;
        &:first-of-type {
          top: .25rem;
        }
        &:last-of-type {
          bottom: .25rem;
        }
      }
      &.on > span {
        &:first-of-type, &:last-of-type {
          opacity: 0;
        }
        &:nth-of-type(2) {
          transform: rotate(45deg);
        }
        &:nth-of-type(3) {
          transform: rotate(-45deg);
        }
      }
    }
    > #header-logo {
      height: 2rem;
      position: absolute;
      @include viewport-s {
        height: 1.75rem;
      }
      > img {
        height: 100%;
      }
    }
  }
  > #header-dropdown {
    width: 100%;
    max-height: 100dvh;
    padding-top: 7rem;
    padding-bottom: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    @include viewport-m {
      height: 100dvh;
      max-height: unset;
      padding-top: 7rem;
      padding-bottom: unset;
    }
    @include viewport-s {
      height: 100dvh;
      max-height: unset;
      padding-top: 6rem;
      padding-bottom: unset;
    }
    > nav {
      width: 100%;
      max-width: 90rem;
      margin: 0 auto;
      padding: 0 1.5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      gap: 1.5rem;
      color: #FFFFFF;
      @include viewport-m {
        padding: 0 1.5rem;
        flex-direction: column;
        justify-content: start;
        gap: 1.5rem;
      }
      @include viewport-s {
        padding: 0 1rem;
        flex-direction: column;
        justify-content: start;
        gap: 1rem;
      }
      > .category {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1.5rem;
        @include viewport-xl {
          &:hover {
            > .category-name {
              color: $red;
            }
          }
        }
        @include viewport-l {
          &:hover {
            > .category-name {
              color: $red;
            }
          }
        }
        @include viewport-m {
          width: 100%;
          padding: 0 1.5rem;
          gap: 1.5rem;
        }
        @include viewport-s {
          width: 100%;
          padding: 0 1rem;
          gap: 1rem;
        }
        > .category-name {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          font-size: $font-size-m;
          font-weight: 500;
          transition: all .15s ease;
          > svg {
            width: 1rem;
            height: 1rem;
            @include viewport-xl {
              display: none;
            }
            @include viewport-l {
              display: none;
            }
            > path {
              fill: #FFFFFF;
            }
          }
          &.on {
            color: $red;
            > svg {
              transform: rotateX(180deg);
              > path {
                fill: $red;
              }
            }
            & ~ .category-depth {
              max-height: 100dvh;
            }
          }
        }
        > .category-depth {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          gap: .75rem;
          transition: all .15s ease;
          @include viewport-m {
            max-height: 0;
            gap: .5rem;
            overflow: hidden;
          }
          @include viewport-s {
            max-height: 0;
            gap: .5rem;
            overflow: hidden;
          }
          > .category-depth-item {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: .25rem;
            @include viewport-xl {
              padding-right: .25rem;
              &:hover {
                > a {
                  color: $red;
                }
                > span {
                  width: 100%;
                }
              }
            }
            @include viewport-l {
              padding-right: .25rem;
              &:hover {
                > a {
                  color: $red;
                }
                > span {
                  width: 100%;
                }
              }
            }
            > a {
              font-size: $font-size-s;
              transition: all .15s ease;
            }
            > span {
              width: 0;
              height: .125rem;
              background: $red;
              transition: all .15s ease;
              @include viewport-m {
                display: none;
              }
              @include viewport-s {
                display: none;
              }
            }
          }
        }

      }
    }
  }
  &.afterScroll {
    background: #000000;
  }
}
