@import "preset";
#history {
  > #intro {
    margin-bottom: 9.375rem;
    @include viewport-xs {
      margin-bottom: 6.25rem;
    }
  }
  > .year {
    width: 100%;
    max-width: 100rem;
    padding: 0 1.875rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    @include viewport-xs {
      padding: 0 1.25rem;
    }
    > p {
      padding: 3.75rem 1.875rem 0 0;
      border-right: $border-weight-m $red;
      font-size: $font-size-m;
      font-weight: bold;
      color: $skyblue;
      @include viewport-xs {
        padding: 2.5rem 1.25rem 0 0;
      }
    }
    > .content {
      padding: 3.75rem 0 3.75rem 1.875rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 3.75rem;
      @include viewport-xs {
        padding: 2.5rem 0 2.5rem 1.25rem;
        gap: 2.5rem;
      }
      p, li {
        line-height: 130%;
      }
      > .head {
        width: 50%;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1.875rem;
        @include viewport-m {
          width: 100%;
        }
        @include viewport-s {
          width: 100%;
        }
        @include viewport-xs {
          width: 100%;
          gap: 1.25rem;
        }
        > h1 {
          font-size: $font-size-l;
          font-weight: bold;
          line-height: 100%;
        }
        > .summary {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          gap: .9375rem;
          @include viewport-xs {
            gap: .625rem;
          }
          > li {
            margin-left: 1.875rem;
            font-size: $font-size-s;
            font-weight: 500;
            list-style-type: square;
            @include viewport-xs {
              margin-left: 1.25rem;
            }
            &::marker {
              color: $red;
            }
          }
        }
      }
      > img {
        width: 50%;
        @include viewport-m {
          width: 80%;
        }
        @include viewport-s {
          width: 100%;
        }
        @include viewport-xs {
          width: 100%;
        }
      }
      > .explain {
        width: 50%;
        margin-left: auto;
        font-size: $font-size-s;
        @include viewport-m {
          width: 100%;
        }
        @include viewport-s {
          width: 100%;
        }
        @include viewport-xs {
          width: 100%;
        }
      }
      > video {
        width: 100%;
        aspect-ratio: 3 / 1;
        object-fit: cover;
      }
    }
    &#y2013 {
      background: #000000;
      color: #FFFFFF;
    }
    &#y2014 {
      background: url("../assets/images/history-2014.jpg") no-repeat center / cover;
      img {
        opacity: 0;
      }
      .explain {
        color: #FFFFFF;
      }
    }
    &#y2015 {
      background: #000000;
      color: #FFFFFF;
    }
    &#y2016 {
      background: url("../assets/images/history-2016.jpg") no-repeat center / cover;
      color: #FFFFFF;
      img {
        opacity: 0;
      }
    }
    &#y2017 {
      background: url("../assets/images/history-2017.jpg") no-repeat center / cover;
      img {
        opacity: 0;
      }
      .explain {
        color: #FFFFFF;
      }
    }
    &#y2018 {
      background: #000000 url("../assets/images/history-2018.jpg") no-repeat center / 100%;
      color: #FFFFFF;
      img {
        opacity: 0;
      }
    }
    &#y2019 {
      background: $skyblue;
      > p {
        color: #FFFFFF;
      }
      img {
        width: 100%;
      }
    }
    &#y2020 {
      background: #000000 url("../assets/images/history-2020.jpg") no-repeat center / 100%;
      color: #FFFFFF;
      img {
        opacity: 0;
      }
    }
    &#y2021 {
      background: url("../assets/images/history-2021.jpg") no-repeat top / cover;
      > p {
        color: #FFFFFF;
      }
      img {
        opacity: 0;
      }
      .explain {
        color: #FFFFFF;
      }
    }
    &#y2022 {
      padding-bottom: 3.75rem;
      @include viewport-xs {
        padding-bottom: 2.5rem;
      }
      background: #000000 url("../assets/images/history-2022.jpg") no-repeat top / cover;
      img {
        opacity: 0;
      }
      .explain {
        color: #FFFFFF;
      }
    }
  }
}
