@charset "UTF-8";
@font-face {
  font-family: "HyundaiSansHeadKR";
  font-style: normal;
  font-weight: normal;
  src: local("HyundaiSansHeadKR"), url("../assets/fonts/HyundaiSansHeadKRRegular.woff2") format("woff2");
}
@font-face {
  font-family: "HyundaiSansHeadKR";
  font-style: normal;
  font-weight: 500;
  src: local("HyundaiSansHeadKR"), url("../assets/fonts/HyundaiSansHeadKRMedium.woff2") format("woff2");
}
@font-face {
  font-family: "HyundaiSansHeadKR";
  font-style: normal;
  font-weight: bold;
  src: local("HyundaiSansHeadKR"), url("../assets/fonts/HyundaiSansHeadKRBold.woff2") format("woff2");
}
.section-title {
  padding: 0 0.25rem 0.25rem;
  border-bottom: 0.1875rem solid #AACAE6;
  font-size: clamp(2.25rem, 10.5vw, 4.5rem);
  font-weight: bold;
  line-height: 100%;
}

.more {
  padding: 0.25rem 0.5rem;
  border: 0.0625rem solid #FFFFFF;
  font-size: clamp(0.75rem, 3.5vw, 1.5rem);
}

#index {
  gap: 9.375rem;
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index {
    gap: 6.25rem;
  }
}
#index > section {
  width: 100%;
}
#index > section#intro > #intro-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
#index > section#intro > #intro-slide > .slide-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
}
#index > section#intro > #intro-slide > .slide-item > .content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#index > section#intro > #intro-slide > .slide-item > .content > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#index > section#intro > #intro-slide > .slide-item > .content > .text {
  width: 100%;
  height: 100%;
  padding: 0 1.875rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background: rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
}
@media all and (min-width: 1600px) {
  #index > section#intro > #intro-slide > .slide-item > .content > .text {
    padding: 0 calc((100% - 100rem) / 2);
  }
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section#intro > #intro-slide > .slide-item > .content > .text {
    padding: 0 1.25rem;
  }
}
#index > section#intro > #intro-slide > .slide-item > .content > .text > h1 {
  font-size: clamp(2.25rem, 10.5vw, 4.5rem);
  font-weight: bold;
  line-height: 110%;
}
#index > section#intro > #intro-slide > .slide-item > .content > .text > p {
  font-size: clamp(0.75rem, 3.5vw, 1.5rem);
}
#index > section#intro > .slide-control {
  position: absolute;
  bottom: 1.875rem;
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section#intro > .slide-control {
    bottom: 0.625rem;
  }
}
#index > section#intro > .slide-control > .pagination > .bullet {
  background: #FFFFFF;
}
#index > section#intro > .slide-control > .pagination > .bullet.active {
  background: #E63312;
}
#index > section#intro > .slide-control > .move > .btn {
  border-color: #FFFFFF;
}
#index > section#intro > .slide-control > .move > .btn > svg > path {
  fill: #FFFFFF;
}
#index > section:not(#intro, #social-lounge, #n-collection) {
  max-width: 100rem;
}
#index > section:not(#intro, #social-lounge, #n-collection)#origin {
  padding: 5.625rem 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.875rem;
  background: rgba(0, 0, 0, 0.4) url("../assets/images/photo-nurburgring.jpg") no-repeat center/cover;
  background-blend-mode: darken;
  color: #FFFFFF;
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#origin {
    padding: 3.75rem 1.25rem;
    gap: 1.25rem;
  }
}
#index > section:not(#intro, #social-lounge, #n-collection)#origin > h1 {
  font-size: clamp(2.25rem, 10.5vw, 4.5rem);
  font-weight: bold;
  line-height: 110%;
}
#index > section:not(#intro, #social-lounge, #n-collection)#models {
  padding: 0 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.875rem;
}
@media all and (min-width: 1600px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#models {
    padding: 0;
  }
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#models {
    padding: 0 1.25rem;
    gap: 1.25rem;
  }
}
#index > section:not(#intro, #social-lounge, #n-collection)#models > #models-slide {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#index > section:not(#intro, #social-lounge, #n-collection)#models > #models-slide > .slide-item {
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#models > #models-slide > .slide-item {
    gap: 1.25rem;
  }
}
#index > section:not(#intro, #social-lounge, #n-collection)#models > #models-slide > .slide-item > img {
  width: 100%;
}
@media all and (min-width: 1600px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#models > #models-slide > .slide-item > img {
    width: 50%;
  }
}
@media all and (min-width: 1280px) and (max-width: 1599px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#models > #models-slide > .slide-item > img {
    width: 50%;
  }
}
#index > section:not(#intro, #social-lounge, #n-collection)#models > #models-slide > .slide-item > .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#models > #models-slide > .slide-item > .info {
    gap: 0.625rem;
  }
}
#index > section:not(#intro, #social-lounge, #n-collection)#models > #models-slide > .slide-item > .info > p {
  font-size: clamp(1.5rem, 7vw, 3rem);
  font-weight: 500;
  line-height: 100%;
}
#index > section:not(#intro, #social-lounge, #n-collection)#models > #models-slide > .slide-item > .info > p:after {
  content: " N";
  color: #E63312;
}
#index > section:not(#intro, #social-lounge, #n-collection)#models > #models-slide > .slide-item > .info > .more {
  border-color: #AACAE6;
}
#index > section:not(#intro, #social-lounge, #n-collection)#models > .slide-control {
  padding: 0;
}
#index > section:not(#intro, #social-lounge, #n-collection)#models > .slide-control > .pagination > .bullet {
  background: #F6F3F2;
}
#index > section:not(#intro, #social-lounge, #n-collection)#models > .slide-control > .pagination > .bullet.active {
  background: #E63312;
}
#index > section:not(#intro, #social-lounge, #n-collection)#pillars {
  padding: 0 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.875rem;
}
@media all and (min-width: 1600px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#pillars {
    padding: 0;
  }
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#pillars {
    padding: 0 1.25rem;
    gap: 1.25rem;
  }
}
#index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media all and (min-width: 600px) and (max-width: 959px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media all and (min-width: 960px) and (max-width: 1279px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item {
  width: 100%;
  padding: 3.75rem 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.875rem;
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item {
    padding: 2.5rem 1.25rem;
    gap: 1.25rem;
  }
}
#index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item > p {
  line-height: 120%;
}
#index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item > p:first-of-type {
  font-size: clamp(1.5rem, 7vw, 3rem);
  font-weight: 500;
}
#index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item > p:last-of-type {
  font-size: clamp(0.75rem, 3.5vw, 1.5rem);
}
#index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item:nth-of-type(1) {
  aspect-ratio: 2/1;
  grid-column: 1/3;
  grid-row: 1/2;
  background: #B0C5E0 url("../assets/images/pillar01.jpg") no-repeat 100% 100%/cover;
  background-size: 100% auto;
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item:nth-of-type(1) {
    aspect-ratio: 16/9;
  }
}
@media all and (min-width: 600px) and (max-width: 959px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item:nth-of-type(1) {
    aspect-ratio: 16/9;
  }
}
@media all and (min-width: 960px) and (max-width: 1279px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item:nth-of-type(1) {
    aspect-ratio: 16/9;
  }
}
#index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item:nth-of-type(2) {
  aspect-ratio: 2/1;
  grid-column: 1/3;
  grid-row: 2/3;
  background: #E63312 url("../assets/images/pillar02.jpg") no-repeat 100% 100%/cover;
  background-size: 100% auto;
  color: #FFFFFF;
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item:nth-of-type(2) {
    aspect-ratio: 16/9;
  }
}
@media all and (min-width: 600px) and (max-width: 959px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item:nth-of-type(2) {
    aspect-ratio: 16/9;
  }
}
@media all and (min-width: 960px) and (max-width: 1279px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item:nth-of-type(2) {
    aspect-ratio: 16/9;
  }
}
#index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item:last-of-type {
  aspect-ratio: 1/2;
  grid-column: 3/4;
  grid-row: 1/3;
  background: url("../assets/images/pillar03.jpg") no-repeat 100% 100%/cover;
  color: #FFFFFF;
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item:last-of-type {
    aspect-ratio: 16/9;
  }
}
@media all and (min-width: 600px) and (max-width: 959px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item:last-of-type {
    aspect-ratio: 16/9;
  }
}
@media all and (min-width: 960px) and (max-width: 1279px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#pillars > .content > .item:last-of-type {
    aspect-ratio: 16/9;
  }
}
#index > section:not(#intro, #social-lounge, #n-collection)#news {
  padding: 0 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.875rem;
}
@media all and (min-width: 1600px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#news {
    padding: 0;
  }
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#news {
    padding: 0 1.25rem;
    gap: 1.25rem;
  }
}
#index > section:not(#intro, #social-lounge, #n-collection)#news > .content {
  width: 100%;
  padding: 0 0.0625rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 0.0625rem;
  background: #F6F3F2;
}
@media all and (min-width: 960px) and (max-width: 1279px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#news > .content {
    padding: 0.0625rem 0;
    flex-direction: column;
  }
}
@media all and (min-width: 600px) and (max-width: 959px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#news > .content {
    padding: 0.0625rem 0;
    flex-direction: column;
  }
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#news > .content {
    padding: 0.0625rem 0;
    flex-direction: column;
  }
}
#index > section:not(#intro, #social-lounge, #n-collection)#news > .content > .item {
  width: calc((100% - 0.125rem) / 3);
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.9375rem;
  background: #FFFFFF;
}
@media all and (min-width: 960px) and (max-width: 1279px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#news > .content > .item {
    width: 100%;
  }
}
@media all and (min-width: 600px) and (max-width: 959px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#news > .content > .item {
    width: 100%;
  }
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section:not(#intro, #social-lounge, #n-collection)#news > .content > .item {
    width: 100%;
    padding: 1.25rem;
    gap: 0.625rem;
  }
}
#index > section:not(#intro, #social-lounge, #n-collection)#news > .content > .item > img {
  width: 100%;
}
#index > section:not(#intro, #social-lounge, #n-collection)#news > .content > .item > p {
  font-size: clamp(0.75rem, 3.5vw, 1.5rem);
  font-weight: 500;
}
#index > section#social-lounge {
  padding: 5.625rem 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  background: #F6F3F2;
}
@media all and (min-width: 1600px) {
  #index > section#social-lounge {
    padding: 5.625rem calc((100% - 100rem) / 2);
  }
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section#social-lounge {
    padding: 3.75rem 1.25rem;
    gap: 1.25rem;
  }
}
#index > section#social-lounge > .section-title {
  margin-right: auto;
}
#index > section#social-lounge > .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
}
#index > section#social-lounge > .content > .item {
  width: calc((100% - 0.5rem) / 3);
  aspect-ratio: 1/1;
  position: relative;
}
#index > section#social-lounge > .content > .item > img {
  width: 100%;
  height: 100%;
}
#index > section#social-lounge > .content > .item > .afterHover {
  width: 100%;
  height: 100%;
  padding: 1.875rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  font-size: clamp(0.75rem, 3.5vw, 1.5rem);
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.15s ease-in-out;
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section#social-lounge > .content > .item > .afterHover {
    padding: 1.25rem;
  }
}
#index > section#social-lounge > .content > .item > .afterHover:hover {
  opacity: 1;
}
#index > section#n-collection {
  padding: 9.375rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.75rem;
  background: rgba(0, 0, 0, 0.4) url("../assets/images/nCollection.jpg") fixed;
  background-blend-mode: darken;
  box-shadow: inset 0 0 1rem #000000;
}
@media all and (min-width: 360px) and (max-width: 599px) {
  #index > section#n-collection {
    padding: 6.25rem;
    gap: 2.5rem;
  }
}
#index > section#n-collection > .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
#index > section#n-collection > .text > h1 {
  font-size: clamp(2.25rem, 10.5vw, 4.5rem);
  font-weight: bold;
  line-height: 110%;
}
#index > section#n-collection > .text > p {
  font-size: clamp(0.75rem, 3.5vw, 1.5rem);
  line-height: 110%;
}
#index > section#n-collection > .more {
  border-color: #FFFFFF;
  color: #FFFFFF;
}
#index > section#n-collection.ios {
  background: rgba(0, 0, 0, 0.4) url("../assets/images/nCollection.jpg") no-repeat center/cover;
}

/*# sourceMappingURL=index.css.map */
