@charset "UTF-8";
@font-face {
  font-family: "HyundaiSansHeadKR";
  font-style: normal;
  font-weight: normal;
  src: local("HyundaiSansHeadKR"), url("../assets/fonts/HyundaiSansHeadKRRegular.woff2") format("woff2");
}
@font-face {
  font-family: "HyundaiSansHeadKR";
  font-style: normal;
  font-weight: 500;
  src: local("HyundaiSansHeadKR"), url("../assets/fonts/HyundaiSansHeadKRMedium.woff2") format("woff2");
}
@font-face {
  font-family: "HyundaiSansHeadKR";
  font-style: normal;
  font-weight: bold;
  src: local("HyundaiSansHeadKR"), url("../assets/fonts/HyundaiSansHeadKRBold.woff2") format("woff2");
}
#index .article-title {
  margin-right: auto;
  padding: 0 0.25rem 0.25rem;
  border-bottom: 0.1875rem solid #AACAE6;
  font-size: clamp(2.1875rem, 9.5vw, 4.5rem);
  line-height: 100%;
}
#index .more {
  padding: 0.25rem 0.5rem;
  border: 0.0625rem solid #AACAE6;
  font-size: clamp(0.875rem, 3.8vw, 1.125rem);
}
#index > #intro > #index-intro-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
#index > #intro > #index-intro-slide > .slide-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
}
#index > #intro > #index-intro-slide > .slide-item > .slide-item-inside {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#index > #intro > .slide-control {
  position: absolute;
  bottom: 1.5rem;
}
@media all and (max-width: 599px) {
  #index > #intro > .slide-control {
    bottom: 1rem;
  }
}
#index > #content {
  gap: 10.5rem;
}
@media all and (max-width: 599px) {
  #index > #content {
    gap: 7rem;
  }
}
#index > #content > article {
  width: 100%;
}
#index > #content > article:not(#social, #collection) {
  max-width: 90rem;
}
#index > #content > article#origin {
  padding: 10.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
  background: rgba(0, 0, 0, 0.4) url("../assets/images/photo-nurburgring.jpg") no-repeat center/cover;
  background-blend-mode: darken;
  color: #FFFFFF;
}
@media all and (max-width: 599px) {
  #index > #content > article#origin {
    padding: 7rem 2rem;
    gap: 1rem;
  }
}
#index > #content > article#origin > h1 {
  font-size: clamp(2.1875rem, 9.5vw, 4.5rem);
  line-height: 110%;
}
#index > #content > article#origin > .more {
  border-color: #FFFFFF;
}
#index > #content > article#models {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}
@media all and (max-width: 599px) {
  #index > #content > article#models {
    padding: 0 1rem;
    gap: 1rem;
  }
}
#index > #content > article#models > #index-models-slide {
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media all and (max-width: 599px) {
  #index > #content > article#models > #index-models-slide {
    height: calc(100vw - 2rem);
  }
}
#index > #content > article#models > #index-models-slide > .slide-item {
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: #FFFFFF;
}
@media all and (min-width: 600px) and (max-width: 1023px) {
  #index > #content > article#models > #index-models-slide > .slide-item {
    flex-direction: column;
    justify-content: start;
    gap: 1.5rem;
  }
}
@media all and (max-width: 599px) {
  #index > #content > article#models > #index-models-slide > .slide-item {
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
  }
}
#index > #content > article#models > #index-models-slide > .slide-item > img {
  width: 50%;
  max-width: 48.75rem;
}
@media all and (min-width: 600px) and (max-width: 1023px) {
  #index > #content > article#models > #index-models-slide > .slide-item > img {
    width: 100%;
  }
}
@media all and (max-width: 599px) {
  #index > #content > article#models > #index-models-slide > .slide-item > img {
    width: 100%;
  }
}
#index > #content > article#models > #index-models-slide > .slide-item > .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
}
@media all and (min-width: 600px) and (max-width: 1023px) {
  #index > #content > article#models > #index-models-slide > .slide-item > .info {
    align-items: center;
  }
}
@media all and (max-width: 599px) {
  #index > #content > article#models > #index-models-slide > .slide-item > .info {
    align-items: center;
    gap: 1rem;
  }
}
#index > #content > article#models > #index-models-slide > .slide-item > .info > p {
  font-size: clamp(1.75rem, 7.6vw, 2.25rem);
  font-weight: bold;
  line-height: 100%;
}
#index > #content > article#models > #index-models-slide > .slide-item > .info > p:after {
  content: " N";
  color: #E63312;
}
#index > #content > article#models > .slide-control {
  padding: 0;
}
#index > #content > article#pillars {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
@media all and (max-width: 599px) {
  #index > #content > article#pillars {
    padding: 0 1rem;
    gap: 1rem;
  }
}
#index > #content > article#pillars > .article-body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media all and (min-width: 600px) and (max-width: 1023px) {
  #index > #content > article#pillars > .article-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media all and (max-width: 599px) {
  #index > #content > article#pillars > .article-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#index > #content > article#pillars > .article-body > .pillars-item {
  width: 100%;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1.5rem;
}
@media all and (max-width: 599px) {
  #index > #content > article#pillars > .article-body > .pillars-item {
    padding: 2rem 1rem;
    gap: 1rem;
  }
}
#index > #content > article#pillars > .article-body > .pillars-item > h2 {
  font-size: clamp(1.75rem, 7.6vw, 2.25rem);
  line-height: 100%;
}
#index > #content > article#pillars > .article-body > .pillars-item > p {
  font-size: clamp(0.875rem, 3.8vw, 1.125rem);
  font-weight: 500;
}
#index > #content > article#pillars > .article-body > .pillars-item:first-of-type {
  aspect-ratio: 2/1;
  grid-column: 1/3;
  grid-row: 1/2;
  background: #B0C5E0 url("../assets/images/pillar01.jpg") no-repeat bottom right/100% auto;
}
#index > #content > article#pillars > .article-body > .pillars-item:nth-of-type(2) {
  aspect-ratio: 2/1;
  grid-column: 1/3;
  grid-row: 2/3;
  background: #E63312 url("../assets/images/pillar02.jpg") no-repeat bottom right/100% auto;
  color: #FFFFFF;
}
#index > #content > article#pillars > .article-body > .pillars-item:last-of-type {
  aspect-ratio: 1/2;
  grid-column: 3/4;
  grid-row: 1/3;
  background: url("../assets/images/pillar03.jpg") no-repeat bottom right/cover;
  color: #FFFFFF;
}
@media all and (min-width: 600px) and (max-width: 1023px) {
  #index > #content > article#pillars > .article-body > .pillars-item:last-of-type {
    aspect-ratio: 2/1;
  }
}
@media all and (max-width: 599px) {
  #index > #content > article#pillars > .article-body > .pillars-item:last-of-type {
    aspect-ratio: 2/1;
  }
}
#index > #content > article#social {
  background: #F6F3F2;
}
@media all and (min-width: 1440px) {
  #index > #content > article#social {
    padding: 0 calc((100% - 90rem) / 2);
  }
}
#index > #content > article#social > .social-inside {
  width: 100%;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}
@media all and (max-width: 599px) {
  #index > #content > article#social > .social-inside {
    padding: 2rem 1rem;
    gap: 1rem;
  }
}
#index > #content > article#social > .social-inside > .article-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
}
#index > #content > article#social > .social-inside > .article-body > .social-item {
  width: calc((100% - 0.5rem) / 3);
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
}
#index > #content > article#social > .social-inside > .article-body > .social-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#index > #content > article#social > .social-inside > .article-body > .social-item > p {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: clamp(1.3125rem, 5.7vw, 1.6875rem);
  color: #FFFFFF;
  text-align: center;
  line-height: 110%;
  transition: all 0.15s ease;
}
@media all and (max-width: 599px) {
  #index > #content > article#social > .social-inside > .article-body > .social-item > p {
    padding: 1rem;
  }
}
#index > #content > article#social > .social-inside > .article-body > .social-item > p:hover {
  opacity: 1;
}
#index > #content > article#collection {
  background: rgba(0, 0, 0, 0.4) url("../assets/images/nCollection.jpg") fixed;
  background-size: cover;
  background-blend-mode: darken;
}
@media all and (min-width: 1440px) {
  #index > #content > article#collection {
    padding: 0 calc((100% - 90rem) / 2);
  }
}
#index > #content > article#collection > .collection-inside {
  width: 100%;
  padding: 10.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: #FFFFFF;
  text-align: center;
}
@media all and (max-width: 599px) {
  #index > #content > article#collection > .collection-inside {
    padding: 7rem 1rem;
    gap: 2rem;
  }
}
#index > #content > article#collection > .collection-inside > .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#index > #content > article#collection > .collection-inside > .text > h1 {
  font-size: clamp(2.1875rem, 9.5vw, 4.5rem);
  line-height: 110%;
}
#index > #content > article#collection > .collection-inside > .text > p {
  font-size: clamp(0.875rem, 3.8vw, 1.125rem);
  font-weight: 500;
}
#index > #content > article#collection > .collection-inside > .more {
  border-color: #FFFFFF;
}
#index > #content > article#collection.ios {
  background: rgba(0, 0, 0, 0.4) url("../assets/images/nCollection.jpg") no-repeat center/cover;
}
#index > #content > article#news {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
}
@media all and (max-width: 599px) {
  #index > #content > article#news {
    padding: 0 1rem;
    gap: 1rem;
  }
}
#index > #content > article#news > .article-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 1.5rem;
}
@media all and (min-width: 600px) and (max-width: 1023px) {
  #index > #content > article#news > .article-body {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}
@media all and (max-width: 599px) {
  #index > #content > article#news > .article-body {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }
}
#index > #content > article#news > .article-body > .news-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.75rem;
  background: #FFFFFF;
}
@media all and (max-width: 599px) {
  #index > #content > article#news > .article-body > .news-item {
    gap: 0.5rem;
  }
}
#index > #content > article#news > .article-body > .news-item > img {
  width: 100%;
}
#index > #content > article#news > .article-body > .news-item > p {
  font-size: clamp(0.875rem, 3.8vw, 1.125rem);
  font-weight: 500;
}

/*# sourceMappingURL=index.css.map */
